@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,700;1,600&display=swap');

body{
  background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.title{
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.title h1{
  font-family: 'Lora', serif;
  font-size: 100px;
}


/* 왼쪽 박스 */
.enter-box{
  margin-top: 30px;
  font-family: 'Lora', serif;
}

.enter-box .box_title{
  font-size: 40px;
}

.enter-box .mb-4{
  margin-top: 40px;
}

.enter-box .box_input{
  padding:10px 0;
  padding-left: 5px;
  font-size: 20px;
  box-sizing: border-box;
  width: 600px;
}

.enter-box .box_btn{
  width: 200px;
  height: 50px;
  font-size: 20px;
  margin-top: 30px;
}

/* 오른쪽 박스 */
.phone-list{
  font-family: 'Lora', serif;
  margin-top: 95px;
  padding-left: 40px;
  border-left: 2px solid black;
}

.right-box{
  padding-bottom: 70px;
  border-bottom: 2px dashed black;
}

.right-box .right-input{
  padding:10px 0;
  padding-left: 5px;
  font-size: 20px ;
}

.right-box .right-btn{
  font-size: 20px;
  height: 52.37px;
  width: 90px;
}

.item-box{
  padding-top: 30px;
  padding-left: 10px;
}

.item-box .box-name{
  font-size: 20px;
}

.item-box .box-num{
  margin-top: 20px;
}

@media (max-width:63rem){
  body{
    background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/cover.jpg');
    background-repeat: repeat;
  }

  .title{
    max-width: 90%;
    border-bottom: 2px solid black;
  }

  .title h1{
    font-size: 40px;
  }

  .enter-box .mb-4{
    margin-top: 10px;
  }

  .enter-box .box_title{
    font-size: 20px;
  }

  .enter-box .box_input{
    font-size: 10px;
    box-sizing: border-box;
    max-width: 90%;
  }

  .enter-box .box_btn{
    width:100px;
    height:30px;
    font-size: 10px;
    margin-top: 5px;
  }

  .phone-list{
    margin-top: 20px;
    padding-top: 20px;
    border-left: none;
    max-width: 90%;
    border-top: 2px dashed white;
  }

  .right-box{
    padding-bottom: 20px;
    border-bottom: none;
  }

  .right-box .right-input{
    max-width: 90%;
    font-size: 10px;
  }

  .right-box .right-btn{
    font-size: 1px;
    width:100px;
    height:30px;
  }
  
  .item-box{
    max-width:100%;
    font-size: 10px;
    color: white;
    position: relative;
    flex-direction: row;
    padding-bottom: 20px;
  }
  
  .item-box .box-name{
    font-size: 15px;
    width: 100px;
    height: 30px;
    position: absolute;
    top:40px;
    left: 130px;

  }
  
  .item-box .box-num{
    font-size: 15px;
    position: absolute;
    width: 150px;
    height: 30px;
    bottom: 10px;
    left: 130px;
  }
}